a#btn-prices {
    color           :   white;
    background      :   url('../../image/btn-prices.png') no-repeat left top;
    width           :   243px;
    height          :   46px;
    text-align      :   center;
    line-height     :   40px;
    display         :   block;
    text-decoration :   none;
    font-size       :   1.2em;
}

a#btn-prices:hover {
    text-decoration :   underline;
}

#banner-right {
    width           :   900px;
    float           :   left;
}