/*
    Document   : content.css
    Created on : Jul 30, 2011, 9:47:22 PM
    Author     : marc
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.box, .box-cream {
    width               :   274px;
    background-color    :   #312619;
    margin              :   0 0 25px 0;
    position            :   relative;
    display             :   block;
}

.box h3, .box h4, .box h5, .box p, .box h2 {
    margin              :   0 10px 0 20px;
}

.box h3 {
    font-size           :   1.5em;
    line-height         :   1.3;
    font-family         :   Georgia, Arial, 'Times New Roman', serif;
    font-style          :   italic;
    margin-bottom       :   10px;
}

.box h5 {
    font-size           :   1.2em;
    font-weight         :   bold;
    line-height         :   1.1;
    font-style          :   italic;
    margin-bottom       :   15px;
}

.bg-top-box, .bg-bottom-box {
    background          :   #312619 url('../image/lib/bg-top-box.gif') repeat-x center top;
    height              :   5px;
    padding             :   10px;
}

.bg-bottom-box {
    background          :   url('../image/lib/bg-bottom-box.gif') repeat-x center bottom;
}

.bg-bottom-box-cream {
    background          :   url('../image/lib/bg-bottom-box-cream.gif') repeat-x center top;
    height              :   5px;
}

