/*
    Document   : index
    Created on : Jul 30, 2011, 12:18:10 PM
    Author     : marc
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

.pricing #banner-left h2{
    color               :   #221E15;
    margin-bottom       :   18px;
}

.pricing ul#b-menu li a {
    background          :   url('../../image/lib/banner-menu.png') no-repeat left top;
    height              :   43px;
    width               :   274px;
    display             :   block;
    text-indent         :    -9999em;
}

.pricing ul#b-menu li #for-poster a {
    background-position :    0 0;
}

.pricing ul#b-menu #for-poster a.active{
    background-position :    0 -129px;
}

.pricing ul#b-menu #for-flyer a {
    background-position :    0 -43px;
}

.pricing ul#b-menu #for-flyer a.active{
    background-position :    0 -172px;
}

#bg-service, #bg-need, #bg-even {
    position            :   absolute;
    right               :   14px;
    top                 :   18px;
    background          :   url('../../image/lib/bg-3day-guarantee.png') no-repeat left top;
    width               :   143px;
    height              :   109px;
}

#bg-need {
    background-image    :   url('../../image/lib/bg-2day-priority.png');
}

#bg-even {
    background-image    :   url('../../image/lib/bg-overnight-vipprint.png');
}

#service-guarantee h3 {
    background-color    :   #312619;
    padding             :   3px 0 10px 50px;
}

#service-guarantee h3.nopad {
    padding-left        :   0;
}

.priority-service {
    font-size           :   1em;
    font-weight         :   bold;
    margin-top          :   20px;
}

#main-col h4#flyer-price {
    font-family         :   Georgia,serif;
    font-style          :   italic;
    font-size           :   1.5em;
    font-weight         :   bold;
    color               :   #221E15;
    margin-bottom       :   20px;
    margin-top          :   -10px;
}

#main-col h4#flyer-price a {
    color               :   #C50900;
    text-decoration     :   underline;
}

#main-col .print h2 {
    font-size           :   6em;
    margin-bottom       :   0;
    line-height         :   1;
    font-weight         :   normal;
    margin-top          :   -10px;
}

#main-col .print h3 {
    font-size           :   1.6em;
    color               :   white;
}

#main-col .print h4 {
    font-size           :   2.4em;
    font-weight         :   bold;
    color               :   white;
    font-family         :   Georgia, Arial, 'Times New Roman' serif;
    margin-top          :   -10px;
}

#main-col .print h5 {
    color               :   white;
    font-size           :   1.6em;
}

#bg-a1, #bg-a2, #bg-a3, #fluro-print1, #fluro-print2, #pole-poster {
    background          :   url('../../image/lib/bg-print.jpg') no-repeat 0 0;
}

#bg-a2 {
    background-position :   -260px 0;
}

#bg-a3 {
    background-position :   0 -282px;
}

#fluro-print1 {
    background-position :   -260px -282px;
}

#fluro-print2 {
    background-position :   0 -564px;
}

#pole-poster {
    background-position :   -260px -564px;
}

#right-col .box-cream {
    background-color    :   #FFFAE2;
}

#right-col .bg-top-box-cream {
    background          :   url('../../image/lib/bg-top-box-brown.gif') repeat-x center top;
    height              :   5px;
}

#right-col .box-cream h3 {
    background-color    :   #9B8A54;
    padding             :   10px 0;
    padding-left        :   20px;
    color               :   white;
    font-style          :   italic;
    font-size           :   1.4em;
    font-family         :   Georgia,serif;
    border-bottom       :   1px dashed #FFFAE2;
}

#save p, #which-size p {
background: url('../../image/lib/bg-save.jpg') no-repeat left top;
min-height: 80px;
margin: 15px 20px;
padding: 0 0 0 95px;
color: #221E15;
}

#which-size p {
    background-image: url('../../image/lib/bg-size.jpg');
}

#save p a, #which-size p a {
text-decoration: underline;
font-weight: bold;
}