/*
    Document   : index
    Created on : Jul 30, 2011, 12:18:10 PM
    Author     : marc
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

.pricing ul#b-menu li a {
    background          :   url('../../image/lib/banner-menu.png') no-repeat left top;
    height              :   43px;
    width               :   274px;
    display             :   block;
    text-indent         :    -9999em;
}

.pricing ul#b-menu li #for-poster a {
    background-position :    0 0;
}

.pricing ul#b-menu #for-poster a.active,
.pricing ul#b-menu #for-poster a:hover {
    background-position :    0 -129px;
}

.pricing ul#b-menu #for-flyer a {
    background-position :    0 -43px;
}

.pricing ul#b-menu #for-flyer a.active,
.pricing ul#b-menu #for-flyer a:hover {
    background-position :    0 -172px;
}

.pricing ul#b-menu li#price-grid a {
    background-position :   0 -86px;
}

.pricing ul#b-menu li#price-grid a.active,
.pricing ul#b-menu li#price-grid a:hover {
    background-position :   0 -215px;
}

#bg-service, #bg-need, #bg-even {
    position            :   absolute;
    right               :   14px;
    top                 :   18px;
    background          :   url('../../image/lib/bg-3day-guarantee.png') no-repeat left top;
    width               :   143px;
    height              :   109px;
}

#bg-need {
    background-image    :   url('../../image/lib/bg-2day-priority.png');
}

#bg-even {
    background-image    :   url('../../image/lib/bg-overnight-vipprint.png');
}

#service-guarantee h3 {
    background-color    :   #312619;
    padding             :   3px 0 10px 50px;
}

#service-guarantee h3.nopad {
    padding-left        :   0;
}

.priority-service {
    font-size           :   1em;
    font-weight         :   bold;
    margin-top          :   20px;
}

#main-col h4#flyer-price {
    font-family         :   Georgia,serif;
    font-style          :   italic;
    font-size           :   1.5em;
    font-weight         :   bold;
    color               :   #221E15;
    margin-bottom       :   20px;
    margin-top          :   -10px;
}

#main-col h4#flyer-price a {
    color               :   #C50900;
    text-decoration     :   underline;
}

#main-col .poster-print h2 {
    font-size           :   6em;
    margin-bottom       :   0;
    line-height         :   1;
    font-weight         :   normal;
    margin-top          :   3px;
}

#main-col .poster-print h2.long-poster-names {
    font-size: 4em;
}

#main-col .poster-print h3 {
    font-size           :   1.6em;
    color               :   white;
}

#main-col .poster-print h4 {
    font-size           :   2.4em;
    font-weight         :   bold;
    color               :   white;
    font-family         :   Georgia, Arial, 'Times New Roman' serif;
    margin-top          :   -10px;
}

#main-col .poster-print h5 {
    color               :   white;
    font-size           :   1.6em;
}

.pricing.index #main-col div.poster-print {
    cursor              :   pointer;
}

div.poster-print {
    background          :   url('../../image/lib/bg-print.jpg') no-repeat 0 0;
}

div.poster-print.green {
    background-position :   -260px 0;
}

div.poster-print.orange {
    background-position :   0 -282px;
}

#bg-fluro-print1 {
    background-position :   -260px -282px;
}

#bg-fluro-print2 {
    background-position :   0 -564px;
}

#bg-pole-poster {
    background-position :   -260px -564px;
}

#right-col .box-cream {
    background-color    :   #FFFAE2;
}

#right-col .bg-top-box-cream {
    background          :   url('../../image/lib/bg-top-box-brown.gif') repeat-x center top;
    height              :   5px;
}

#right-col .box-cream h3 {
    background-color    :   #9B8A54;
    padding             :   10px 0;
    padding-left        :   20px;
    color               :   white;
    font-style          :   italic;
    font-size           :   1.4em;
    font-family         :   Georgia,serif;
    border-bottom       :   1px dashed #FFFAE2;
}

#save p, #which-size p {
    background          :   url('../../image/lib/bg-save.jpg') no-repeat left top;
    min-height          :   80px;
    margin              :   15px 20px;
    padding             :   0 0 0 95px;
    color               :   #221E15;
}

#which-size p {
    background-image    :   url('../../image/lib/bg-size.jpg');
}

#save p a, #which-size p a {
    text-decoration     :   underline;
    font-weight         :   bold;
}

/* start */
/* pricing show */
#left-col.service #service-guarantee h3 {
    color               :   white;
    font-style          :   italic;
    font-size           :   1.4em;
    font-family         :   Georgia,serif;
    border-bottom       :   1px dashed #FFFAE2;
}

.service-col {
    padding             :   10px;
    padding-bottom      :   20px;
    border-bottom       :   1px dashed #9B8A54;
    background-color    :   #FFFAE2;
}

.service-col.no-border {
    border-bottom       :   0;
}

.service-col h4 {
    color               :   #221E15;
    font-size           :   1.15em;
    font-family         :   Georgia, Arial, 'Times New Roman', serif;
    font-weight         :   bold;
    margin              :   10px 0;
}

.service-col img {
    margin-right        :   10px;
    float               :   left;
}

.service-col p {
    margin-bottom       :   0;
}

.service-col p, .service-col h5 {
    float               :   left;
    width               :   170px;
    color               :   #221E15;
}

.service-col h5 {
    font-weight         :   bold;
}

#form-item {
    position:relative;
    overflow:hidden;
}

#form-item label {
    font-family         :   Georgia, Arial, 'Times New Roman', serif;
    font-size           :   1.4em;
    font-weight         :   bold;
    font-style          :   italic;
    color               :   #221E15;
    display             :   block;
}

.f-row {
    position            :   relative;
    z-index             :   1;
    padding             :   15px 0;
}

p.bubble {
    position            :   relative;
}

p.bubble a {
    cursor              :   none;
    position            :   absolute;
    left                :   163px;
    display             :   block;
    background          :   #F1D861 url('../../image/lib/icon-what.png') no-repeat center center;
    border              :   1px solid white;
    text-indent         :   -9999em;
    width               :   28px;
    height              :   28px;
    border-radius       :   10px;
    -moz-border-radius  :   10px;
    -webkit-border-radius:  10px;
    top                 :   0;
}

.f-row p {
    margin-bottom       :   0;
}

#form-item select {
    padding             :   4px 0;
    border              :   1px solid #BCB38C;
    width               :   155px;
}

#form-item input {
    line-height         :   15px;
    padding             :   4px 3px;
    -webkit-border-radius:  8px;
    -moz-border-radius  :   8px;
    border-radius       :   8px;
}

#pricing-container p {
    background          :   url('../../image/lib/bg-star.png') no-repeat left center;
    text-transform      :   uppercase;
    color               :   #221E15;
    padding             :   10px 0 0 25px;;
}

#pricing-container h5 {
    font-size           :   2em;
    font-weight         :   bold;
    color               :   #C50900;
    font-style          :   none;
    padding-bottom      :   10px;
}

#pricing-container h5.price-gst {
    border-bottom       :   1px dashed #9B8A54;
    width               :   260px;
    margin-bottom       :   8px;
    padding-bottom      :   8px;
}

#pricing-container span.price-label {
    font-family         :   Georgia, Arial, 'Times New Roman', serif;
    color               :   #221E15;
    width               :   90px;
    display             :   inline-block;
    font-style          :   italic;
    font-size           :   .7em;
}

#cheaper {
    background-color    :   #D0E292;
    border              :   1px solid #AFC859;
    padding             :   7px;
    margin              :   10px 0;
    border-radius       :   8px;
    -moz-border-radius  :   8px;
    -webkit-border-radius:  8px;
    width               :   250px;
}

#cheaper p {
    color               :   #221E15;
    background          :   url('../../image/lib/icon-cheaper.png') no-repeat left center;
    padding-left        :   45px;
    margin-bottom       :   0;
}

#btn-compute {
    margin-left: 100px;
    display: block;
}

.getquote p {
    margin-bottom       :   5px;
}

.getquote input {
    font-family: Georgia, Arial, 'Times New Roman' serif;
    font-weight: bold;
    font-style: italic;
    border: 0;
    cursor: pointer;
    display: block;
    color: white;
}

input.btn-quote {
    font-size: 1.5em;
    background: url('../../image/lib/btn-quote.png') no-repeat left top;
    width: 149px;
    height: 46px;
}

.btn-result {
    width: 149px;
    height: 31px;
    background: url('../../image/lib/btn-result.png') no-repeat left top;
    padding-left: 35px;
}

.getquote .btn-result {
    padding-left: 0;
}

.btn-result input {
    background: url('../../image/lib/icon-add.png') no-repeat 15px center;
    width: 149px;
    height: 31px;
    line-height: 28px;
    padding-left: 37px !important;
    font-size: .85em;
    text-align: left;
}

.btn-result.icon-export a {
    font-size: .85em;
    display: block;
    line-height: 30px;
    color: white;
    font-family: Georgia, Arial, 'Times New Roman' serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background: url('../../image/lib/icon-export.png') no-repeat left top;
    background-position: 10px 6px;
    padding-left: 15px;
}

table#result-details {
    border: 1px solid #BCB38C;
    margin: 20px 0 0 0;
    border-collapse: collapse;
    display: block;
    position: relative;
}

#result-details th {
    height: 38px;
    background: url('../../image/lib/bg-repeat-th.gif') repeat-x left top;
    font-weight: bold;
    border-left: 1px solid #BCB38C;
    padding: 5px 6px;
    font-weight: 1em;
}

#result-details th:first-child {
    border: 0;
}

#result-details td {
    background-color: #FFFAE2;
    border-top: 1px solid #BCB38C;
    padding: 10px 7px;
}

#result-details td.icon-close {
    background: #FFFAE2 url('../../image/lib/icon-close.gif') no-repeat 72px center;
}

#result-details tr.odd td {
    background-color: #EFE6C0;
}

#result-details tr td span.value {
    left: 0;
    position: relative;
    display: inline-block;
    padding-right: 20px;
    min-width: 40px;
}

#result-details tr td a.delete-link {
    color: red;
    top: -10px;
    position: relative;
    /*
    right: -25px;
    top: -12px;*/
}

#result-details tr td a.delete-link:hover {
    font-weight: bold;
    text-decoration: none;
}

#wrong-one {
    margin-top: 20px;
}

#wrong-one h3 {
    font-family: Georgia,serif;
    font-size: 1.5em;
    color: #221E15;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    border-bottom: 1px dashed #9B8A54;
    padding: 0 20px 10px;
    padding: 0 20px 10px;
    margin-bottom: 20px;
}

.small-poster {
    width: 125px;
    height: 96px;
    float: left;
    margin: 0 8px 15px;
    background: url('../../image/lib/bg-print-smallsize.jpg') no-repeat 0 0;
    text-align: center;
    padding-top: 10px;
}

.small-poster.green {
    background-position: 0 0;
}

.small-poster:hover {
    cursor: pointer;
}

.small-poster h4, .small-poster h5 {
    color: white;
}

.small-poster h4 {
    font-size: 1.25em;
}

.small-poster h5 {
    font-size: .95em;
}

#main-col #poster-1 h5, #main-col #poster-2 h5 {
    font-size: 1.3em;
    margin-top: -7px;
}

#main-col #poster-3 h2, #main-col #poster-4 h2, #main-col #poster-5 h2 {
    font-size: 1.7em;
    padding-bottom: 3px;
    margin-top: 0px;
    line-height: 1;
}

.pricing.show .small-poster.orange {
    background-position: -125px 0;
}

.pricing.show .small-poster.red {
    background-position: -250px 0;
}

#poster-4 {
    background-position: -375px 0;
}

#poster-5 {
    background-position: -500px 0;
}


/* end of pricing show */